.programmes .programme {
    border-radius: 10px;
    padding: 10px 10px 20px;
    margin-bottom: 50px;
    transition: background-color .25s;
}

.programmes .programme:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.programmes .programme img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    aspect-ratio: 72/35;
}

.programmes .programme .programme-content {
    padding: 0 10px;
}

.programmes .programme .programme-content .key-info {
    margin-bottom: 20px;
}